@import "./variables";
@import "./mixins";

body {
   font-family: $font-stack;
   margin: 0;
   padding: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

a:link {
   color: $themeColor;
}

.theme-color {
   color: $themeColor;
}